@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
	font-family: 'Poppins', sans-serif;
}



button {
	background-color:#000;
	height:40px;
	border-radius:5px;
	border:none;
	color:#FFF;
	width:80px;
}


button:hover {
	background-color:blue;
}

.jumbotron {
	background-image : url("../images/bluewaves2.png");
	background-repeat: no-repeat;
	background-size:cover;
	height:900px;

}

.nav-item {
	color:#FFF;
}

.heading {
	text-align:center;
	height:auto;
	margin-top:100px;
}


.searchbox {
	text-align:center;
	height:200px;
	margin-top:50px;
}

h1 {
	font-size:64px;
	color:#FFF;
	margin-top:100px;
}

#weatherInfo {
	color:#FFF;
	font-size:25px;
	height:300px;
	margin-top:70px;
	font-weight:400;
}

.form {
	margin-top:50px;
}

#city {
	width:30%;
	height:40px;
	border-radius:5px;
	border:none;
}


.fas {
	color:#FFF;
}


.navbar-brand {
	color:#FFF;
}




.nav-item {
	margin-left:50px;
	margin-right:50px;
}