@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
	font-family: 'Poppins', sans-serif;
}



button {
	background-color:#000;
	height:40px;
	border-radius:5px;
	border:none;
	color:#FFF;
	width:80px;
}


button:hover {
	background-color:blue;
}

/*Jumbotron styling*/
.jumbotron {
	background-image : url("../images/bluewaves2.png");
	background-repeat: no-repeat;
	background-size:cover;
	height:900px;

}

/*Navbar styling*/

.nav-item {
	color:#FFF;
}

.navbar-toggler-icon {
	background: url('https://i.ya-webdesign.com/images/hamburger-menu-icon-png-white-6.png') no-repeat center center;
	background-size: 100% 100%;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
	outline: none;
	box-shadow: none;
}

.navbar-toggler:hover{
	background-color:transparent;
}

.navbar-brand {
	color:#FFF;
}



.nav-item {
	margin-left:50px;
	margin-right:50px;
}


/*Input styling*/

.searchbox {
	text-align:center;
	height:200px;
	margin-top:50px;
}

#city {
	width:30%;
	height:40px;
	border-radius:5px;
	border:none;
}

.form {
	margin-top:50px;
}

/*Output styling*/

h1 {
	font-size:64px;
	color:#FFF;
	margin-top:100px;
}

#weatherInfo {
	color:#FFF;
	font-size:22px;
	height:300px;
	margin-top:70px;
	font-weight:400;
}

/*Icons styling*/

.fas {
	color:#FFF;
}


.fab {
	font-size:30px;
	color:#192bc2;
}

.fab:hover {
	color:#000;
}