.jumbotron {
background: #78C0E0;  /* for browsers that doesnt support gradient just show basic color */
background: -webkit-linear-gradient(to left, #78C0E0, #449DD1, #192BC2);  /* for chrome */
background: linear-gradient(to left, #78C0E0, #449DD1, #192BC2); /* Edge and safari */
	background-size: cover;
	height: auto;
	width: 100%;

}

.nav-item {
	color:#FFF;
}

.heading {
	text-align:center;
	height:auto;
	margin-top:100px;
}


.searchbox {
	text-align:center;
	height:200px;
	margin-top:50px;
}

h1 {
	font-size:64px;
	color:#FFF;
}

#weatherInfo {
	color:#FFF;
	font-size:25px;
	height:300px;
}