@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

html {
	font-size: 62.5%;
}



body {
	font-family: 'Poppins', sans-serif;
	font-size: 1.6rem;
}

/*Button styling*/

button {
	background-color:#000;
	height:4.1rem;
	border-radius:5px;
	border:none;
	color:#FFF;
	width:8rem;
}


button:hover {
	background-color:blue;
}

/*Jumbotron styling*/
.jumbotron {
	background-image : url("../images/bluewaves2.png");
	background-repeat: no-repeat;
	background-size:cover;
	height:90rem;

}

/*Navbar styling*/

.nav-item {
	color:#FFF;
	margin-left:5rem;
	margin-right:5rem;
	font-size:2rem;
}

.navbar-toggler-icon {
	background: url('https://i.ya-webdesign.com/images/hamburger-menu-icon-png-white-6.png') no-repeat center center;
	background-size: 100% 100%;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
	outline: none;
	box-shadow: none;
}

.navbar-toggler:hover{
	background-color:transparent;
}

.navbar-brand {
	color:#FFF;
	font-size:2rem;
}






/*Input styling*/

.searchbox {
	text-align:center;
	height:20rem;
	margin-top:5rem;
}

#city {
	width:30%;
	height:4rem;
	border-radius:0.5rem;
	border:none;
}

.form {
	margin-top:5rem;
}

/*Output styling*/

h1 {
	font-size:6.4rem;
	color:#FFF;
	margin-top:10rem;
}

#weatherInfo {
	color:#FFF;
	font-size:2.2rem;
	height:30rem;
	margin-top:7rem;
	font-weight:400;
}

/*Icons styling*/

.fas {
	color:#FFF;
}


.fab {
	font-size:3rem;
	color:#192bc2;
}

.fab:hover {
	color:#000;
}